@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #283149;
    font-family: 'Arvo', serif;
}

.container {
    overflow: hidden;
    margin: auto;
    text-align: center;
}

.container h1 {
    font-size: 6rem;
    color: #fff;
    text-shadow: 3px 0 #da0463;
    margin: 0 10px 60px 10px;
}

.set {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.drum {
    margin: 10px;
    width: 130px;
    height: 130px;
    background-color: #fff;
    color: #da0463;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #404B69;
    border-radius: 5px;
    outline: none;
    font-family: 'Arvo', serif;
    text-shadow: 3px 0 rgb(226, 218, 218);
}

.w {
    background-image: url('../img/tom1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.a {
    background-image: url('../img/tom2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.s {
    background-image: url('../img/tom3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.d {
    background-image: url('../img/tom4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.j {
    background-image: url('../img/snare.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.k {
    background-image: url('../img/crash.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.l {
    background-image: url('../img/kick.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

footer {
    color: #fff;
    margin-top: 70px;
    letter-spacing: 5px;
}